<section class="grid grid-cols-3 gap-4">
    <div
        class="grid grid-cols-2 gap-4 transition-all duration-900"
        [class.col-span-2]="viewDetail"
        [class.col-span-3]="!viewDetail">
        @for (pokemon of dataPokemons.results; track pokemon.name) {
        <pn-pokemon [pokemon]="pokemon" />
        }
    </div>
    @if (viewDetail) {
        <pn-detail-pokemon class="relative"/>
    }
</section>

<section class="flex justify-between mt-4">
    <button type="button" class="p-1 bg-blue-400 text-white font-semibold w-28 rounded-xs cursor-pointer" (click)="loadNewData(dataPokemons.previous)">Atras</button>
    <button type="button" class="p-1 bg-blue-400 text-white font-semibold w-28 rounded-xs cursor-pointer" (click)="loadNewData(dataPokemons.next)">Siguiente</button>
</section>
