<section class="grid grid-cols-3 gap-4">
    <div class="col-span-3 md:col-span-{{ viewDetail ? 2 : 3 }}">
        <pn-search />
        <section class="grid grid-cols-1 md:grid-cols-2 gap-4 transition-all duration-900">
            @for (pokemon of dataPokemons.results; track pokemon.name;) {
            <pn-pokemon [pokemon]="pokemon" />
            }
        </section>

    </div>
    @if (viewDetail) {
    <pn-detail-pokemon class="transition-all duration-900 fixed w-full h-full top-0 left-0 md:relative" />
    }

</section>

<section class="flex justify-between mt-4">
    <button type="button" class="p-1 bg-blue-400 text-white font-semibold w-28 rounded-xs cursor-pointer"
        (click)="loadNewData(dataPokemons.previous)">
        Atras
    </button>
    <button type="button" class="p-1 bg-blue-400 text-white font-semibold w-28 rounded-xs cursor-pointer"
        (click)="loadNewData(dataPokemons.next)">
        Siguiente
    </button>
</section>